progress5/progress5.json
{
  "name": "progress 5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1b7d90b7-0d8e-4b03-b4ad-8036c89201fd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Progress Project RAG.pdf",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "9f137114-4eef-4363-aaf6-65e70ad44c5a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "D71oW1Ty7oGhoBiU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1TtGaG4xoqHoESRFC7NRXIvvTZ4r_qg5W",
          "mode": "list",
          "cachedResultName": "01. Introduction - VS.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1TtGaG4xoqHoESRFC7NRXIvvTZ4r_qg5W/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "486b2222-7152-4748-bece-66a136968989",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "D71oW1Ty7oGhoBiU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index",
          "mode": "list",
          "cachedResultName": "rag-index"
        },
        "embeddingBatchSize": 1536,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "972a395a-a8f8-43f4-8dbc-5b38abbb1fe9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "aovkGhYIwEv2OeDl",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        928,
        672
      ],
      "id": "77dbf14c-28b9-40b8-a2ea-94c319d92079",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "hGiCPES5JczFA6R3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "id": "bf04c6ff-805f-4023-93bd-4e07ae08712a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9fd53e0d-838c-42d7-b7b3-ac466d53f393",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1120,
        -160
      ],
      "id": "9d70cedc-a9ba-49e2-96d0-5d62b480762a",
      "name": "Webhook",
      "webhookId": "9fd53e0d-838c-42d7-b7b3-ac466d53f393"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1120,
        16
      ],
      "id": "5d7a17e5-9209-4ec0-b279-dc39fa1aea22",
      "name": "Telegram Trigger",
      "webhookId": "1f444e7e-e68b-45dd-8d93-b397fbae4d33",
      "credentials": {
        "telegramApi": {
          "id": "qRfWcnuTNiXdnINM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a697722-2b24-4042-ac4d-b307e0556be8",
              "name": "query",
              "value": "={{ $json.message && $json.message.text ? $json.message.text : $json.body.question }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -160
      ],
      "id": "f0a06e80-f0d5-445d-b998-0d5ff96907b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}\n",
        "options": {
          "systemMessage": "Kamu adalah AI Assistant yang ramah dan sopan.\nSelalu awali jawaban dengan sapaan singkat kepada pengguna, lalu jawab pertanyaannya dengan jelas dan ringkas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1504,
        -160
      ],
      "id": "5967ca9d-bc12-4049-911e-5aa8222ea035",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1440,
        48
      ],
      "id": "ce11da8d-7f9e-4beb-8887-05622a1200c2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hGiCPES5JczFA6R3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        976,
        368
      ],
      "id": "2dbdadd8-0ddb-4f5a-8653-8958d10ffad8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve relevant documents from Pinecone\n",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index",
          "mode": "list",
          "cachedResultName": "rag-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1744,
        96
      ],
      "id": "874cf841-9a23-4b42-b5cf-288e61428aaa",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "aovkGhYIwEv2OeDl",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c7072f9-7047-4c44-9274-358930aa61f2",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1856,
        -160
      ],
      "id": "24de4501-23bd-4d1f-891a-68742f371697",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2064,
        -240
      ],
      "id": "11d85304-a623-4ed0-947d-d53aacf1d50d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "Maaf, saya tidak menemukan jawaban dari dokumen yang tersedia.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2064,
        -64
      ],
      "id": "2e0fa13d-df10-41b6-afdc-d5ae17e94235",
      "name": "Send a text message",
      "webhookId": "c467f233-5384-49b6-8126-94e558401541",
      "credentials": {
        "telegramApi": {
          "id": "qRfWcnuTNiXdnINM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chatId || ('web-' + $execution.id) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1600,
        48
      ],
      "id": "54524a3d-db6a-4d8c-b7b2-6e7ebe70f73d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "RS2DckHIrENNV0IX",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e19e677-318b-4ad0-8f82-e0ecdf4b27cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "644bf29a92e1ca282645b05f0ab7acbe12c43f58e6a4423d969f9196049d0525"
  },
  "id": "5H67ZE1XBsrzvLtk",
  "tags": []
}